<div class="weather__app__container">
 
      <div class="weather__app__search">
        <h3 class="weather__app__search__title">Search for Weather:</h3>
        <form [formGroup]="weatherSearchForm" class="weather__app__search__form" (ngSubmit)="sendRequest(weatherSearchForm.value)">
          <div class="weather__app__search__group">
            <app-input
              className="weather__app__search__input"
              type="text"
              id="weatherLocation"
              aria-describedby="weatherLocation"
              placeholder="Please input a Location"
              formControlName="location"
            />
           </div>
           <div class=""> 
            <app-buton type="submit" >
              Search for the weather</app-buton>
           </div>
         </form> 
      </div>
      <div class="weather__app__details">
        <h3 class="weather__app__details__title">Weather Details:</h3>
        <img [src]="this.weatherData?.current?.weather_icons[0]" />
        <p class="">Temperature in Degrees Celsius: {{this?.weatherData?.current?.temperature+ "C"}} </p>
        <p class="">Temperature Feels Like in Degrees Celsius: {{this?.weatherData?.current?.temperature +"C"}} </p>
        <p class="">Wind Speed: {{this?.weatherData?.current?.wind_speed + "m/s"}} </p>
        <p class="">humidity: {{this?.weatherData?.current?.humidity}} </p>
        <p class="">Location Searched: {{this?.weatherData?.location?.name}}</p>
    
      </div>
</div>