<div class="displayTable">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
      <div class="formGroup" >
        
          <input type="text" class="formControl" placeholder="Username" formControlName="userName" required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl"  formControlName="password" placeholder="Password"  required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <app-buton type="submit" class="btn btnPrimary" >Login</app-buton>
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <app-buton type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            Log in with Google
          </app-buton>
        </div>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
      </div>
    </form>
  </div>
  